

 .homerow {
    box-sizing: border-box;
  }
  
  .homecolumn {
    float: left;
    width: 25%;
    padding: 30px;
  }

  .homerow:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .homecolumn {
      width: 100%;
    }
  }